body{
	max-width: 1024px;
}

header nav ul li{
	display: inline-block;
	margin-right: 10px;
	margin-top: 50px;
	position: relative;
	right: 100px;


}
#firstbike{
	width: 200px;
	margin-top: 25px;
}
#buy{
	left: 800px;
	position: relative;
}
#shop{
	left: 800px;
	position: relative;
	top: -60px;
}